@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
:root {
  --primary: #f5f5f5;
  --secondary: #438e44;
  /* --secondary: #1fa12e; */
  /* --buttons: #a1c435; */
  --buttons: rgba(85, 128, 99, 1);
  --back: #333333;
  --optional: #046017;
}
* {
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  font-family: "PP Neue Montreal", sans-serif;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overflowY {
  overflow-y: hidden;
}
.arreglar-gap-del-main {
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 45px; */
  width: 100%;
  z-index: 50;
  background-color: #fefefe;
}
.cursor {
  top: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  background-color: #333333;
  position: absolute;
  z-index: 10000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main-title {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: var(--optional);
  color: var(--primary);
}
.banner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.banner img {
  width: 23%;
}
.banner--img__down {
  width: 100%;
  height: 200px;
}
/*____________________MENU_____________________*/

.hidden {
  display: none;
}
.cancel {
  display: none;
}

.label-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}
.label-input span {
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: none;
}
#check-input {
  display: none;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .label-input span {
    display: block;
  }
  .nav-ul {
    background-color: #fff;
    height: calc(100vh - 90px);
    width: 60%;
    position: absolute;
    top: 90px;
    left: 0;
    flex-direction: column;
    justify-content: start;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transition: transform 0.3s, opacity 0.6s;
    z-index: 2000;
    opacity: 0;
    -webkit-transition: transform 0.3s, opacity 0.6s;
    -moz-transition: transform 0.3s, opacity 0.6s;
    -ms-transition: transform 0.3s, opacity 0.6s;
    -o-transition: transform 0.3s, opacity 0.6s;
  }
}
.translate-cart {
  opacity: 1;
  transform: translateX(0px);
  z-index: 2000;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

/*_____________________SLIDER_______________________*/

.slider {
  width: 100%;
  height: 40px;
  overflow: hidden;
  background-color: var(--back);
  display: flex;
}

.slider .slide-track {
  display: flex;
  animation: scroll 60s linear infinite;
  -webkit-animation: scroll 60s linear infinite;
  width: calc(200px * 16);
  align-items: center;
}

.slider .slide {
  white-space: nowrap;
  font-size: 12px;
  user-select: none;
  color: var(--primary);
}
@keyframes scroll {
  from {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  to {
    transform: translate(calc(-200px * 8));
    -webkit-transform: translate(calc(-200px * 8));
    -moz-transform: translate(calc(-200px * 8));
    -ms-transform: translate(calc(-200px * 8));
    -o-transform: translate(calc(-200px * 8));
  }
}

/*______________________header__________________________*/
.header {
  display: flex;
  width: 100%;
  height: 90px;
  /* height: 70px; */
  position: sticky;
  justify-content: space-evenly;
  top: 0;
  padding: 0 50px;
  background-color: var(--secondary);
  z-index: 500;
}
/* .header::after {
  content: "";
  height: 10px;
  position: absolute;
  bottom: -10px;
  width: 100%;
  background-color: var(--optional);
} */
/*________________________*/
::-webkit-scrollbar {
  display: none;
  /* width: 20px; */
}

.nav-ul li {
  position: relative;
  padding: 0;
}

.nav-ul li a::after {
  content: "";
  background-color: var(--primary);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.15s ease;
}

.nav-ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*________________________*/
.logo {
  max-width: 100px;
  max-height: 80px;
}
.logo-hidden {
  display: none;
  max-height: 80px;
  max-width: 100px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  border: none;
  outline: none;
}
.nav li a {
  color: var(--primary);
  font-size: 1.2em;
  font-weight: 600;
}
.nav--a {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #fff;
}
.nav--a img {
  width: 25px;
  filter: invert(1);
  -webkit-filter: invert(1);
}
.overlay {
  position: absolute;
  z-index: 1500;
  background: rgba(31, 161, 46, 0.24);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  left: 0;
  top: 90px;
  width: 100%;
  height: 100vh;
  display: none;
}
.show {
  display: block;
}
/*______________________CART__________________________*/
.cart-container {
  display: flex;
  align-items: center;
}
.cart-icon {
  cursor: pointer;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 350px;
  /* height: calc(100vh - 90px); */
  box-shadow: 0 0 15px 0 #444;
  height: 80vh;
  right: 20px;
  background: #fff;
  top: 110px;
  /* overflow-y: auto; */
  transition: all 0.4s ease-in;
  display: none;
  opacity: 0;
  /* padding: 30px; */
  gap: 20px;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
}

.cart-items_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 350px;
  overflow-y: scroll;
  justify-self: end;
}

.cancel-cart {
  position: sticky;
  width: 40px;
  align-self: flex-start;
  cursor: pointer;
  margin: 20px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}
.cancel-cart:hover {
  scale: 1.07;
}
.cart-title {
  font-size: 2.2em;
  font-weight: 500;
  align-self: flex-start;
  padding-left: 20px;
}
.cart-item {
  display: flex;
  width: 300px;
  gap: 15px;
  padding: 10px;
  align-items: center;
  transition: all 1s;
  /*border-right: 3px solid #eee;
  */ /*height: 300px;
  /*/
  animation: borderAnimation 3s infinite;
  -webkit-animation: borderAnimation 3s infinite;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.cart-item:hover {
}
.cart-item--info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart-item--price {
  font-weight: 700;
  /* align-self: start; */
}
.cart-item--quantities {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart-item--img {
  width: 40%;
}
.quantities {
  display: flex;
  /* align-self: center; */
  gap: 10px;
  align-items: center;
}
.quantity-handler {
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}
.move {
  opacity: 1;
  z-index: 1600;
  display: flex;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

.cart-divider {
  width: 100%;
  height: 2px;
  background-color: var(--back);
}

.cart-total--container {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 1.5em;
  box-shadow: 0 0 15px 0 #444;
  height: 170px;
  padding: 20px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
}
.cart-total {
  display: flex;
  justify-content: space-between;
}

.cart-btn {
  border: none;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--buttons);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@keyframes borderAnimation {
  0% {
    border-right: 3px solid var(--secondary);
  }
  50% {
    border-right: 3px solid var(--buttons);
  }
  75% {
    border-right: 3px solid var(--back);
  }
  100% {
    border-right: 3px solid var(--secondary);
  }
}
/*________________________________Carrousel________________________*/

.carrousel {
  overflow-x: hidden;
  position: relative;
  gap: 30px;
  display: flex;
  /* max-width: 1600px; */
  /* width: 100%; */
  flex-direction: column;
}
.images {
  width: 100vw;
  display: flex;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.carrousel--img {
  height: 80vh;
  width: 100vw;
}
.controls {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.next,
.prev {
  font-size: 25px;
  padding: 20px 15px;
  border: none;
  background-color: transparent;
  font-size: 3em;
  cursor: pointer;
  /* background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer; */
}

.next:hover {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-left: 3px solid var(--back);
}
.prev:hover {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-right: 3px solid var(--back);
}
/*Transiciones*/
.transition-next {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.dots {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 15px;
  /* background-color: #f6f6f9; */
  background-color: var(--back);
  width: fit-content;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin: 0 auto;
}
.dot-container {
  padding: 1px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dot-selected {
  background-color: var(--primary);
}

/*__________________________benefits_________________________________*/
.benefits {
  background-color: var(--optional);
  display: flex;
  width: 80%;
  padding: 20px 30px;
  justify-content: space-around;
  border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  color: #fff;
  user-select: none;
  margin-top: 45px;
}

.benefits span {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.benefits--img {
  max-width: 18px;
  filter: invert(1);
  -webkit-filter: invert(1);
}

/*____________________________NEW____________________________________*/
#new {
  display: flex;
  gap: 5em;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  max-width: 1600px;
}
.new-title {
  font-size: 3em;
  margin: 0 auto;
  width: fit-content;
  /*font impact?*/
  font-family: impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.cards-container {
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 440px;
  gap: 20px;
  padding: 15px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.01);
  background: #fff;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.card--img {
  height: 280px;
  border-radius: 16px;
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  -ms-border-radius: 16;
  -o-border-radius: 16;
}

.new-card {
  min-width: 400px;
  height: 550px;
  border: 2px solid var(--secondary);
  position: relative;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: none;
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  background: #fefefe;
}
.new-card::before {
  content: "New!";
  top: -20px;
  display: flex;
  align-self: center;
  font-size: 2em;
  position: absolute;
  background-color: #fefefe;
  /* background: linear-gradient(to top, #fff, #ddd); */
  color: var(--secondary);
}
/*________________________*/
.card--info {
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.title {
  color: #444;
}

.card:hover {
  /* scale: 1.02; */
  /* border: 1px solid #000; */
  box-shadow: 11px 11px 24px -12px var(--secondary);
  -webkit-box-shadow: 11px 11px 24px -12px var(--secondary);
  -moz-box-shadow: 11px 11px 24px -12px var(--secondary);
}
/* .new-card:hover { */
/* scale: 1; */
/* border: 1px solid #000; */
/* box-shadow: none; */
/* } */

.price {
  font-weight: 700;
}
/**/
.btn {
  padding: 6px 15px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: transparent;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  color: #fff;
  background-color: var(--buttons);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn img {
  width: 9%;
  filter: invert(1);
  -webkit-filter: invert(1);
}
.btn:hover {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}

/*_________________________BRANDS______________________*/

.brands {
  width: 100%;
  position: relative;
  background-color: #eee;
  padding: 20px 0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  overflow-x: hidden;
  margin-top: 45px;
}

.brand-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.horizontal-line {
  height: 1px;
  background-color: #000;
  width: 15%;
}

.brands h3 {
  font-size: 2em;
  font-weight: 500;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.brand-container {
  width: 60%;
  overflow-x: hidden;
}
.brand--carrousel__images {
  display: flex;
  padding: 15px;
  gap: 35px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.brand--img__container {
  min-width: 100%;
  justify-content: center;
  gap: 60px;
  display: flex;
}

.brand--img {
  max-width: 110px;
  max-height: 80px;
}

.controls--brand {
  position: absolute;
  top: 55%;
  right: 15%;
  left: 15%;
  display: flex;
  justify-content: space-between;
}
.next__brand,
.prev__brand {
  font-size: 30px;
  padding: 20px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.separator {
  height: 80px;
  background-color: #000;
  width: 100%;
  margin-top: -45px;
}

/*______________________________________PRODUCTS___________________________________*/
#products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url(Assets/backgrounds/fondo.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1400px;
  padding-bottom: 45px;
  padding-top: 45px;
}
#products h3 {
  font-size: 3em;
  font-weight: 500;
  margin-top: 55px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  text-align: center;
}
.products--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  gap: 25px;
}
.categories {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}
.category-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #000;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.category-btn:hover {
  color: #046017;
}
.active {
  background-color: var(--back);
  color: var(--primary);
}

#show-more {
  padding: 10px 45px;
  border: none;
  font-size: 1.3em;
  font-weight: 300;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  /*border: 1px solid var(--secondary);
  */ /*color: var(--primary);
  */
  background-color: var(--buttons);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
#show-more:hover {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}
/*____________________________SALES_____________________*/
.latest {
  width: 100%;
  /* height: 100px; */
  background-color: var(--secondary);
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.h3-normal,
.h3-inverted {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2.3em;
  padding: 40px;
}
.h3-normal {
  color: var(--primary);
}
.h3-inverted {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary);
  color: var(--secondary);
}

#form {
  display: flex;
  border: 1px solid #444;
  /* border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; */
}
#sales-input {
  padding: 15px 25px;
  /* border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; */
  border: none;
}
#sales-input:focus {
  outline: none;
}
.sub-btn {
  border: none;
  background-color: var(--secondary);
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  padding: 0 15px;
  cursor: pointer;
  color: var(--primary);
}

/*__________________________FOOTER____________________*/
#footer {
  width: 100%;
  background-color: var(--back);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary);
  gap: 60px;
  /* padding-bottom: 50px; */
}
.footer-title {
  font-size: 2.9em;
  font-weight: 700;
  justify-self: start;
  width: 100%;
  padding: 65px;
}
.footer--info__container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: start;
  width: 100%;
}
.footer--contact__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer--social {
  display: flex;
  gap: 15px;
  align-items: center;
}
.contact--img__container img {
  width: 36px;
  filter: sepia();
  -webkit-filter: sepia();
}

.footer--info {
  display: flex;
  gap: 45px;
}
.footer--info div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer--info div a {
  color: var(--primary);
}
.footer--info div a:hover {
  color: var(--secondary);
}

.footer--company {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 40%;
}
.footer--company h3 {
  font-size: 30px;
}
.footer--company p {
  color: #999;
}

.creator {
  width: 100%;
  /* background-color: #000; */
  padding: 10px;
  text-align: center;
  /* color: #999; */
}

/*______________________MEDIAS____________________*/
@media (max-width: 976px) {
  .latest {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .benefits span {
    font-size: 10px;
    flex-direction: column;
  }
  .nav {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .nav li a {
    color: var(--back);
  }
  .nav-ul {
    align-items: start;
    gap: 45px;
    padding-left: 15px;
    font-size: 1.6em;
    background: #fff;
    /* justify-content: start; */
    overflow-y: auto;
    /* background-image: url(Assets/backgrounds/ssspill.svg);
    background-repeat: no-repeat; */
  }
  .nav-ul li a::after {
    height: 4px;
    background-color: var(--optional);
  }
  .cancel {
    display: block;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .cancel:hover {
    scale: 1.07;
  }
  .controls {
    display: none;
  }
  .logo-hidden {
    display: flex;
    justify-content: start;
  }
  .header {
    justify-content: space-between;
  }
  .benefits {
    display: none;
  }
  .footer-title {
    text-align: center;
    padding: 40px 20px;
  }
  .footer--info__container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .footer--company {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .carrousel img {
    height: 250px;
  }
  .nav--a {
    gap: 20px;
  }
  .new-card {
    min-width: 300px;
    height: 400px;
    gap: 10px;
  }
  .new-title {
    font-size: 2em;
  }
  #sales-input {
    padding: 15px 10px;
  }
  .sub-btn {
    padding: 0 10px;
  }
  .h3-normal,
  .h3-inverted {
    font-size: 1.7em;
  }
}

@media (max-width: 500px) {
  .categories {
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .category-btn {
    width: 80px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }
  #products h3 {
    font-size: 2.4em;
  }
  .new-title {
    font-size: 2.4em;
  }
}
@media (max-width: 375px) {
  .cart {
    width: 310px;
  }
}
